html {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 0;
    background: rgb(189, 189, 189);
}

.header {
    width: 100%;
    height: 80px;
    background: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.header__firstLine {
    height: 50%;
    background: whitesmoke;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 15%;
    padding: 5px 10px;
}
.firstLine__btns {
    width: 85%;
    background: whitesmoke;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    
    justify-content: flex-end;
    
}

.firstLine__btns div {
    color: red;
    padding: 5px 10px;
    margin: 0px 10px;
}

.firstLine__btns a {
    text-decoration: none;
}

.header__secondLine {
    height: 50%;
    background: yellow;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    display: flex;
}

.header__btn div {
    padding: 5px 10px;
}

#map {
    width: 100%;
    height: 40vh;
    z-index:1;
}